@page "/"

<PageTitle>Home</PageTitle>

<div class="home-section">
    <ul>
        <li class="even">Square pattern</li>
        <li class="odd">Increasing triangle pattern</li>
        <li class="even">Decreasing triangle pattern</li>
        <li class="odd">Right sided triangle pattern</li>
        <li class="even">Right sided decreasing triangle pattern</li>
        <li class="odd">Hill pattern</li>
        <li class="even">Reverse hill pattern</li>
        <li class="odd">Diamond pattern</li>
    </ul>
</div>
